.conteneur1{
  display: flex;
  
  margin: 10PX;
  width: 310px;
  height: 160px;
  border: 1px solid  black;
  position: relative;
}
.button-1,.button-2{
  width: 99px;
  height: 45px;
  margin: 5px;
  position: absolute;
  z-index: 5;
}
.hitbox2,.hitbox3{
  width: 115px;
  height: 65px;
  position: absolute;
  z-index: 4;
}

.App{
  display: flex;
}
